name: Trigger Cask Update

on:
  release:
    types: [published]

jobs:
  trigger-update:
    runs-on: ubuntu-latest
    steps:
      - name: Download and check ARM64 build
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          wget -q "https://github.com/techbruwh/nobraindev/releases/download/v${VERSION}/NoBrainDev_${VERSION}_aarch64.dmg"
          ARM_SHA=$(sha256sum "NoBrainDev_${VERSION}_aarch64.dmg" | cut -d ' ' -f 1)
          echo "ARM_SHA=$ARM_SHA" >> $GITHUB_ENV

      - name: Download and check Intel build
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          wget -q "https://github.com/techbruwh/nobraindev/releases/download/v${VERSION}/NoBrainDev_${VERSION}_x64.dmg"
          INTEL_SHA=$(sha256sum "NoBrainDev_${VERSION}_x64.dmg" | cut -d ' ' -f 1)
          echo "INTEL_SHA=$INTEL_SHA" >> $GITHUB_ENV

      - name: Trigger homebrew-nobraindev workflow
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.WORKFLOW_TOKEN }}
          repository: techbruwh/homebrew-nobraindev
          event-type: update-cask
          client-payload: '{"version": "${{ github.ref_name }}", "arm_sha": "${{ env.ARM_SHA }}", "intel_sha": "${{ env.INTEL_SHA }}"}'